.headHeader {
    padding: 30px;
    background-color: #2b2f55;
    font-size: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    column-gap: 7px;
}

.headHeader img {
    width: 50px;
    background-color: white;
    border-radius: 30%;
    padding: 7px;
}

@media screen and (max-width: 520px) {

    .headHeader {
        font-size: 40px;
    }
}

@media screen and (max-width: 300px) {

    .headHeader {
        font-size: 35px;
    }
}
