.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2b2f55;
    font-size: 20px;
    margin-top: auto;
    text-align: center;
    width: 100%;
    color: white;
}

.footFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.footLink:link {
    color: orangered;
    text-decoration: none;
}
  
.footLink:visited {
    color: rgb(42, 126, 251);
}
  
.footLink:hover {
    color: orange;
}
  
.footLink:active {
    color: rgb(42, 126, 251);
}

.leftFoxReel img {
    margin-left: 10px;
    width: 50px;
    border-radius: 30%;
    transform: rotate(270deg) scaleX(-1);
}

.rightFoxReel img {
    margin-right: 10px;
    width: 50px;
    border-radius: 30%;
    transform: rotate(90deg);
}

@media screen and (max-width: 400px) {

    .footFlex {
        column-gap: 10px;
    }
}
